html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #101010 !important;
}
body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.brand-span{
    padding: 2rem;
    padding-left: 3rem;
}

.brand{
    color: #2323FF;
    font-size: 1.5rem;
}

.brand-span2{
    margin-left: auto;
    padding: 2rem;
}
a{
    text-decoration: none !important;
}
.brand:hover{
    filter: drop-shadow(0 0 15px #2323FF);
    transition: ease-in-out 0.3s ;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@media screen and (max-width: 768px){
    .brand{
        font-size: 1.2rem;
    }
    .brand-span{
        padding: 1.5rem;
    }
    .brand-span2{
        padding: 1.5rem;
    }
}
