{%extends "layout.html"%}
{%block content%}
<link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">

<div class="container">
    <center><h1 class="fw-bold mt-5 main">Valid Proxies Grabber</h1></center>
    <center><div class="text-container"><p class="description">This tool make it easy to you to get a valid proxies of your target proxies type, provides 100% accuracy & super fast service and easy-to-use!</p></div></center>
    <center><a href="/grab" class="btn mt-5">Grab Proxies</a></center>
</div>
{%endblock%}
